Repository sef-global/sef-core, pull requests merged in 2020-06, with the labels that each got.

#45 Fix wrong JPA Query Methods
  backend/src/main/java/org/sefglobal/core/academix/repository/CategoryRepository.java
  backend/src/main/java/org/sefglobal/core/academix/repository/SubCategoryRepository.java
  backend/src/main/java/org/sefglobal/core/academix/service/CategoryService.java
  backend/src/main/java/org/sefglobal/core/academix/service/SubCategoryService.java
Labels: bug

#52 Create Academix admin APIs
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/CategoryAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/ItemAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/LanguageAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/SubCategoryAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/dto/CategoryDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/ItemDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/ItemTranslationDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/SubCategoryDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/TranslationDto.java
  backend/src/main/java/org/sefglobal/core/academix/model/Category.java
  backend/src/main/java/org/sefglobal/core/academix/model/CategoryTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/model/Item.java
  backend/src/main/java/org/sefglobal/core/academix/model/ItemTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/model/Language.java
  backend/src/main/java/org/sefglobal/core/academix/model/SubCategory.java
  backend/src/main/java/org/sefglobal/core/academix/model/SubCategoryTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/model/identifiers/CategoryTranslationId.java
  backend/src/main/java/org/sefglobal/core/academix/model/identifiers/ItemTranslationId.java
  backend/src/main/java/org/sefglobal/core/academix/model/identifiers/SubCategoryTranslationId.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomCategory.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomItem.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomSubCategory.java
  backend/src/main/java/org/sefglobal/core/academix/repository/LanguageRepository.java
  backend/src/main/java/org/sefglobal/core/academix/service/CategoryService.java
  backend/src/main/java/org/sefglobal/core/academix/service/ItemService.java
  backend/src/main/java/org/sefglobal/core/academix/service/LanguageService.java
  backend/src/main/java/org/sefglobal/core/academix/service/SubCategoryService.java
  backend/src/main/java/org/sefglobal/core/config/SecurityConfig.java
  backend/src/main/java/org/sefglobal/core/controller/MultiverseController.java
  backend/src/main/java/org/sefglobal/core/model/Language.java
  backend/src/main/java/org/sefglobal/core/repository/LanguageRepository.java
  backend/src/main/java/org/sefglobal/core/service/LanguageService.java
  backend/src/main/resources/application.properties.example
Labels: enhancement

#60 Refactoring Academix APIs to reuse the Entity classes for data transportation
  backend/src/main/java/org/sefglobal/core/academix/controller/CategoryController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/ItemController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/LanguageController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/SubCategoryController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/CategoryAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/ItemAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/LanguageAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/controller/admin/SubCategoryAdminController.java
  backend/src/main/java/org/sefglobal/core/academix/dto/CategoryDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/ItemDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/ItemTranslationDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/SubCategoryDto.java
  backend/src/main/java/org/sefglobal/core/academix/dto/TranslationDto.java
  backend/src/main/java/org/sefglobal/core/academix/model/Category.java
  backend/src/main/java/org/sefglobal/core/academix/model/CategoryTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/model/Item.java
  backend/src/main/java/org/sefglobal/core/academix/model/ItemTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/model/Language.java
  backend/src/main/java/org/sefglobal/core/academix/model/SubCategory.java
  backend/src/main/java/org/sefglobal/core/academix/model/SubCategoryTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomCategory.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomItem.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomItemTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomLanguage.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomSubCategory.java
  backend/src/main/java/org/sefglobal/core/academix/projections/CustomTranslation.java
  backend/src/main/java/org/sefglobal/core/academix/repository/CategoryRepository.java
  backend/src/main/java/org/sefglobal/core/academix/repository/CategoryTranslationRepository.java
  backend/src/main/java/org/sefglobal/core/academix/repository/ItemRepository.java
  backend/src/main/java/org/sefglobal/core/academix/repository/ItemTranslationRepository.java
  backend/src/main/java/org/sefglobal/core/academix/repository/SubCategoryRepository.java
  backend/src/main/java/org/sefglobal/core/academix/repository/SubCategoryTranslationRepository.java
  backend/src/main/java/org/sefglobal/core/academix/service/CategoryService.java
  backend/src/main/java/org/sefglobal/core/academix/service/ItemService.java
  backend/src/main/java/org/sefglobal/core/academix/service/LanguageService.java
  backend/src/main/java/org/sefglobal/core/academix/service/SubCategoryService.java
Labels: academix, enhancement

#63 Make mandatory columns not nullable
  backend/src/main/java/org/sefglobal/core/academix/model/Category.java
  backend/src/main/java/org/sefglobal/core/academix/model/Item.java
  backend/src/main/java/org/sefglobal/core/academix/model/SubCategory.java
Labels: academix
